name: Stock Watcher Deployment
on:
    push:
        tags:
            - '*.*.*'
jobs:
    Deploy:
        runs-on: self-hosted
        steps:
            - name: Test echo
              run: echo "Deploying Stock Watcher Application"
            - name: Change Working Directory
              run: cd ~/stock_watcher
            - name: Checkout Repository
              uses: actions/checkout@v6
              with:
                ref: ${{ github.ref }}
            # - name: Build Docker Image
            #   run: |
            #     docker build -t ${{ secrets.DOCKER_USERNAME }}/stock-watcher:latest
            # - 

