name: Schedule Stock Watcher Execution
on:
  workflow_dispatch:
    # schedule:
    #     - cron: '0 * * * *'  # Runs at the top of every hour

jobs:
    Scheduled-Deploy:
        runs-on: self-hosted
        steps:
            - name: Deploy
              run: |
                cd ~/stock-watcher
                git pull origin main
                git switch main
                docker pull odumag99/stock-watcher:latest
                docker compose -f docker-compose.yaml run --rm stock_watcher >> ./logs 2>&1